.NavBar {
  background-color: white;
  border-bottom: 3px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  margin: 7px;
}

.nav-link {
  color: black;
}

.nav-link.active {
  font-weight: bold;
  color: #feb948;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
